table{
   background: #dadada;
}

td{
  padding: 8x;
}

.green {
  color :green;
  bottom: -10px;
}
.red {
  color :red;
  bottom: -10px;
}
.gold {
  color: goldenrod;
  font-size: 25px;
  width: auto;
}