<p>
page works!
</p>

<h2 [ngClass]="grey" >Direttiva ngclass</h2>
<!-- ngstyle essendo un oggetto possiamo aggiungere valri attributi-->
<h2 [ngStyle]="{'color':'red','textAlign':'center'}" >Direttiva ngStyle</h2>
<h2 [ngStyle]="myClass" >Direttiva ngStyle con costrtuttore in ts</h2>

<h2>Direttiva *ngFor</h2>
<ul>
  <li *ngFor="let notizia of news">
  <p>{{notizia}}</p>
  </li>
</ul>

<table border="1">
  <!-- Intestazioni-->
  <tr>
  <th>Titolo</th>
  <th>Autore</th>
  <th>Genere</th>
  <th>Isbn</th>
  <th>Trama</th>
  <th>Page</th>
  <th>Letto</th> 
  <th>Recensione</th>
  </tr>

<!--leggi quello che c'è in books e inseriscilo nella varialile libro 
Per accedere ad un oggetto uso il punto
-->
<tr *ngFor="let libro of books">
<td>{{libro.titolo}}</td>
<td>{{libro.autore}}</td>
<td>{{libro.genere}}</td>
<td>{{libro.isbn}}</td>
<td>{{libro.trama}}</td>
<td>{{libro.page}}</td>
<!--<td>  // ngIf
<span *ngIf="libro.letto==='OK'" class="material-icons green">done</span>
<span *ngIf="libro.letto==='NO'" class="material-icons red">close</span>
</td> -->
<td>   <!--// come usare ngIf con else  -->
<span *ngIf="libro.letto==='OK'; else nonletto" class="material-icons green">done</span>
<ng-template #nonletto>
<span class="material-icons red">close</span>
</ng-template>
</td> 

<!-- dammi tutte quelle con condizioni che danno true -->
<td [ngSwitch]= "true">
<span *ngSwitchCase='libro.voto >=4 && libro.voto < 10' >
      <i class="material-icons gold">star_rate</i>
</span>
<span *ngSwitchCase='libro.voto >=11'> 
<i class="material-icons gold">star_rate</i>
</span>

</td>
</tr>
</table>



<h2>Esempio Pipe con le stringhe</h2>
<p>{{'fuori nevica tanto' | uppercase }} </p>
<p>{{'FUORI PIOVE' | lowercase }} </p>
<!--
// IL PRAMETRO SI PASSA CON i : 
// LA STRIGNA SI METTE NEGLI APICI -->
<p>{{'fuori nevica tanto' | slice:5:12 }} </p>

<h2>Esempio Pipe DATE</h2>
<p> Pipe data formato medio <span [ngStyle]= "{'color':red}" > {{oggi | date:'mediumDate'}} </span> </p>
<p> Pipe data formato short <span [ngStyle]= "{'color':red}" > {{oggi | date:'shortDate'}} </span> </p>
<p> Pipe data ora <span [ngStyle]= "{'color':red}" > {{oggi | date:'shortTime'}} </span> </p>
<p> Pipe data formato italiano <span [ngStyle]= "{'color':red}" > {{oggi | date:'d/MMMM/Y'}} </span> </p>

<h2>Esempio Pipe number</h2>
paramtri 1 indica unità , il secondo il decimale
<p> Pipe number {{230 | number:'1.3'}}</p>
<p> Pipe number {{1.35452 | number:'1.3'}}</p>
<p> Pipe number con percentuale {{1.35452 | percent}}</p>
<p> Pipe number con percentuale {{1.35452 | percent:'1.2'}}</p>
<p> Pipe number con percentuale {{1.35452 | percent:'1.1-1'}}</p>