<p>
  Benvenuto ad  {{ title }} {{ title2 }} 
</p>
<p>
Benvenuto ad  {{ title2 }}  
</p>
<h1>
con h1 ottengo la scritta {{ title2 }}  
</h1>
<h2>
con h2 ottengo la scritta {{ title2 }}  
</h2>
<h3>
con h3 ottengo la scritta {{ title2 }}  
</h3>
<textarea class="textarea is-code will-clear" id="data" name="data" data-gramm_editor="false" spellcheck="false" autofocus="" placeholder="{}" rows="5" data-example="{&quot;store&quot;:{&quot;book&quot;:[{&quot;category&quot;:&quot;reference&quot;,&quot;author&quot;:&quot;Nigel Rees&quot;,&quot;title&quot;:&quot;Sayings of the Century&quot;,&quot;price&quot;:8.95},{&quot;category&quot;:&quot;fiction&quot;,&quot;author&quot;:&quot;Evelyn Waugh&quot;,&quot;title&quot;:&quot;Sword of Honour&quot;,&quot;price&quot;:12.99},{&quot;category&quot;:&quot;fiction&quot;,&quot;author&quot;:&quot;J. R. R. Tolkien&quot;,&quot;title&quot;:&quot;The Lord of the Rings&quot;,&quot;isbn&quot;:&quot;0-395-19395-8&quot;,&quot;price&quot;:22.99}],&quot;bicycle&quot;:{&quot;color&quot;:&quot;red&quot;,&quot;price&quot;:19.95}}}"></textarea>

<div class="control">
<button type="button" name="process" class="button is-action is-medium">Process</button>
</div>


